[Unit]
Description=cls Forwarding Service Service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
WorkingDirectory=/path/to/docker/compose/project
ExecStart=/usr/local/bin/docker-compose up -d --remove-orphans --build
ExecStop=/usr/local/bin/docker-compose down
RemainAfterExit=yes
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
